* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* ------- TOP BAR CSS ------- */
.top-bar {
  background-color: #cc0000;

  height: 40px;
  text-align: right;
}
.top-bar p {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
/* ------- HEADER CSS ------- */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/slider/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* ----- Navigation ----- */

nav {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 250px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #cc0000;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
/* ----- Header Text ----- */
.header-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 90%;
}
.header-text h1 {
  font-size: 60px;
}
.header-text p {
  color: #fff;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 10px;
}
.hero-btn {
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  font-size: 13px;
  display: inline-block;
  padding: 12px 34px;
  position: relative;
  text-decoration: none;
}
.hero-btn:hover {
  background: #cc0000;
  border: 1px solid #cc0000;
  color: #fff;
  transition: 1s;
}
nav .fas {
  display: none;
}
/* ----- Header Media Queries ----- */
@media (max-width: 700px) {
  .top-bar {
    display: none;
  }
  nav img {
    width: 200px;
  }
  .header-text h1 {
    font-size: 20px;
  }
  .header-text p {
    font-style: italic;
    font-size: 10px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    background-color: #cc0000;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px;
    text-align: left;
    width: 200px;
    z-index: 2;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
  }
}
/* ----- COURSE ----- */

.courses {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.course-col {
  flex-basis: 20%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.course-col img {
  width: 200px;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* ----- Courses Media Queries ----- */
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* ----- Campus styles ----- */
.campus {
  background-image: linear-gradient(rgba(119, 1, 1, 0.9), rgba(119, 1, 1, 0.9)),
    url(../images/campus/campus.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.campus-text {
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
.campus-text p {
  color: #fff;
}

/* ----- Campus Media Query ----- */

@media (max-width: 700px) {
  .campus {
    height: 400px;
  }
  .campus-text {
    padding-top: 20px;
  }
  .campus-text h1 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .campus-text p {
    display: none;
  }
}
/* ----- EDucation CSS ----- */

.learning-model h3 {
  font-size: 20px;
  font-style: italic;
  margin-top: 50px;
}
.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
}
.honeycomb-cell {
  flex: 0 1 250px;
  max-width: 350px;
  height: 137.5px;
  margin: 65.4px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}
.honeycomb-img {
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}
.honeycomb-cell-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  transition: opacity 350ms;
}
.honeycomb-cell::before,
.honeycomb-cell::after {
  content: "";
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-img {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #fff;
  transform: scale(1.055);
}
.honeycomb-cell::after {
  background: #111;
  opacity: 0.7;
  transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell-title {
  opacity: 0;
}
.honeycomb-cell:hover .honeycomb-img {
  filter: grayscale(0%);
}
.honeycomb-cell::before {
  background: #cc0000;
}
.honeycomb-cell:hover::after {
  opacity: 0;
}

/* ----- Our Model Media Query ----- */

@media (max-width: 700px) {
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
}

/* -----Counter section----- */
.counter-section {
  background-image: linear-gradient(90deg, #cc0000 0%, #3f5efb 100%),
    url(../images/counter.jpg);
  background-size: cover;
  background-position: center;
}
.counter-section {
  margin: 20% auto;
  color: #fff;
  padding: 40px;
  margin-bottom: 20px;
}
.counter-section h1 {
  text-align: center;
}
.icon-box {
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}
.icon-box .fa {
  font-size: 40px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.counter-box p {
  color: #fff;
  font-size: 20px;
}
.counter-box .counter {
  font-size: 40px;
}
@media (max-width: 700px) {
  .icon-box {
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    transform: rotate(45deg);
  }
  .icon-box .fa {
    font-size: 20px;
    margin: 12.5px auto;
  }
  .counter-box p {
    font-size: 14px;
  }
  .counter-box .counter {
    font-size: 20px;
  }
}
/* -----NEWS AND EVENTS----- */

.news-events {
  margin-top: 5%;
  margin-bottom: 50px;
  text-align: center;
}
.blog-post {
  align-items: center;
  width: 40%;
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 0.8rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
}
.blog-post-image {
  width: 50%;
  min-width: 300px;
  max-width: 300px;
  /* height: 200px; */
  transform: translateX(-4rem);
  position: relative;
}
.blog-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}
.blog-post-info {
  width: 50%;
}
.blog-post-date span {
  display: block;
  color: #777;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
}
.blog-post-title {
  font-size: 15px;
  margin: 10px 0 10px;
  text-transform: uppercase;
  color: #cc0000;
}
.blog-post-text {
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.blog-post-cta {
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(to right, #cc0000 0%, #f59191 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}
.blog-post-cta:hover {
  background-image: linear-gradient(to right, #f59191 0%, #cc0000 100%);
  color: #fff;
}

/* ----News Media queries */
@media (max-width: 700px) {
  .blog-post {
    width: 100%;
  }
  .blog-post-image {
    width: 50%;
  }
  .blog-post-image img {
    width: 100%;
    height: 100%;
  }
  .blog-post-info {
    width: 50%;
  }
  .blog-post-date span {
    display: block;
    color: #777;
    font-size: 20px;
  }
  .blog-post-title {
    font-size: 20px;
    color: #cc0000;
  }
  .blog-post-text {
    display: none;
  }
  .blog-post-cta {
    padding: 2px 10px;
    font-size: 10px;
  }
}

/* ----- Contact us ----- */
.contact-us {
  min-height: 100vh;
  width: 100%;
  background: #fff3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-details {
  width: 80%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background: #afafb6;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.container .content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  color: #afafb6;
  font-size: 14px;
}
.container .content .left-side i {
  color: #cc0000;
  font-size: 30px;
  margin-bottom: 10px;
}
.content .left-side .topic {
  font-size: 18px;
  font-weight: 600;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  color: #cc0000;
  font-size: 22px;
  font-weight: 600;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box textarea,
.right-side .input-box input {
  border: none;
  border-radius: 6px;
  background: #f0f1f8;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  resize: none;
}
.right-side .message-box {
  margin-top: 6px;
  min-height: 110px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  background: #cc0000;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #fff;
  color: #cc0000;
  border: 1px solid #cc0000;
}

/* -----Contact Media Queries----- */
@media (max-width: 950px) {
  .contact-details {
    width: 90%;
    padding: 20px 35px 40px 35px;
  }
}
@media (max-width: 820px) {
  .contact-details {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* -----Footer CSS----- */
footer{
  
  background: #cc0000;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}
.footer-bottom{
  background: #700000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 45px;
  text-align: center;
margin-bottom: 0;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  
}
.footer-bottom p a{
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-menu{
  float: right;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
/* -----Footer Media queries */
@media (max-width: 700px) {
  .footer-menu ul{
    display: none;
  }
}